# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Serverless
.serverless

# Dependency directories
pnpjs/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# VSCode directories
.vscode/

# Logs
logs
*.log
npm-debug.log*

# Output of 'npm pack'
*.tgz

# Yarn
.yarn
.yarnrc
.yarn-integrity

# ESLint
.eslintcache

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Jest coverage
coverage/

# Puppeteer screenshots
screenshots/

# Babel
dist/

# Docker
.DS_Store
.dockerignore
Dockerfile*
.docker/

# Local environment variables
.env
.env.dev
.env.test

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
